<template name="addCategoria">
    <ol class="breadcrumb">
        <li>
            <a href="/">inicio</a>
        </li>
        <li><a href="/categorias">categorias</a></li>
        <li class="active">agregar</li>
    </ol>
    <div class="row">
        <div class="col-lg-5">
            <div class="jumbotron">
                <div class="container">
                    {{>recientesCategorias}}
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="jumbotron">
                <div class="container">
                    {{#with categoriaSeleccionada}}
                        <form id="categoria-add-form" class="form-horizontal">
                            <fieldset>
                                <h2 class="title text-center">{{getTitle}}</h2>

                                <input type="hidden" id="categoria-add-form-id" class="id" value="{{_id}}">

                                <div class="form-group">
                                    <label for="categoria-add-form-name" class="col-sm-2 control-label">Nombre</label>

                                    <div class="col-sm-10">
                                        <input type="text" id="categoria-add-form-name" class="form-control input name" placeholder="Nombre" autocomplete="false" value="{{name}}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="categoria-add-form-description" class="col-sm-2 control-label">Descripción</label>

                                    <div class="col-sm-10">
                                        <textarea id="categoria-add-form-description" rows="4" class="form-control input description" placeholder="Descripción">{{description}}</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="categoria-add-form-itbms" class="col-sm-2 control-label">I.T.B.M.S.</label>

                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="text" id="categoria-add-form-itbms" class="form-control input itbms" placeholder="I.T.B.M.S." value="{{itbms}}"/>

                                            <div class="input-group-addon">%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="categoria-add-form-active" class="active" checked={{active}}> Activo?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        {{>categoriasFormButtons}}
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="categoriasFormButtons">
    {{#if isCategoriaSeleccionada}}
        <div class="btn-group">
            <button type="submit" class="btn boton btn-success green">Guardar Categoria</button>
            <button type="button" class="btn boton btn-danger red delete-categoria">Borrar Categoria</button>
        </div>
    {{else}}
        <button type="submit" class="btn btn-primary">Guardar Categoria</button>
    {{/if}}
</template>

<template name="recientesCategorias">
    <h2 class="title text-center">Recientes</h2>

    <div class="list-group">
        {{#each categoriasRecientes 7}}
            <a class="list-group-item">{{name}}</a>
        {{/each}}
        <!--
        <a class="list-group-item">Categoria 1 <span class="badge blue">14</span></a>
        -->
    </div>
</template>