@import url(http://fonts.googleapis.com/css?family=Roboto:300);

html, body {
    font-family: 'Roboto', sans-serif;
    color: #c2c0be;
    height: 100%;
    background-color: #313232;
}

.navbar {
    border-radius: 0;
}

.app {
    min-height: 100%;
    background-color: #f2f0ed;

    border-radius: 10px;
    padding: 30px;
}

.red {
    background-color: #ea5080;
    color: #aa2a52;
}

.green {
    background-color: #00c08b;
    color: #127a5d;
}

.blue {
    background-color: #53bfe2;
    color: #2884a2;
}

.yellow {
    background-color: #f8c54d;
    color: #ab8426;
}

.purple {
    background-color: #df6dc2;
    color: #9f3c85;
}

.shadow {
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset, 1px 1px 1px #CCC;
}

.footer {
    background-color: #111111;
    box-shadow: 0 -1px 2px #111111;
}

/* forms elements*/

.title {
    margin-bottom: 55px;
}

div.form-container {
    background-color: #f2f0ed;
    padding: 15% 10% 5% 10%;
    box-shadow: 5px 5px 30px #000;
}

.form-container.signin {
    margin-top: 20%;
}

.form-container.signup {
    margin-top: 10%;
}

.icono-container {
    background-color: #807e7d;
    border: none;
}

.icono {
    color: #fff;
}

.input, .boton {
    height: 50px;
}

.input:focus {
    border-color: #f25c6e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(242, 92, 110, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(242, 92, 110, 0.6);
}

.input::-webkit-input-placeholder {
    color: #737170;
}

.input:-moz-placeholder {
    /* Firefox 18- */
    color: #737170;
}

.input::-moz-placeholder {
    /* Firefox 19+ */
    color: #737170;
}

.input:-ms-input-placeholder {
    color: #737170;
}

button.btn-primary {
    background-color: #f25c6e;
    border-color: #f25c6e;
}

button.btn-primary:hover {
    background-color: #dd4d5e;
    border-color: #dd4d5e;
}

button.btn-default {
    background-color: #f2f0ed;
    border-color: #f25c6e;
    color: #f25c6e;
}

button.btn-default:hover {
    background-color: #f2f0ed;
    border-color: #dd4d5e;
    color: #dd4d5e;
}
